{% extends "layout.html" %}

{% block ul %}
     <li role="presentation" class="active">
         <a href="/">Home</a>
     </li>
     <li role="presentation">
         <a href="{{ url_for('auth.signup') }}">Sign Up</a>
     </li>
     <li role="presentation">
        <a href="{{ url_for('auth.signin') }}">Sign In</a>
    </li>
{% endblock %}
{% block div %}
<h2>404 Not Found</h2>
<p>The specified file was not found on this website. Please check the URL for mistakes and try again.</p>
{% endblock %}