{% extends "layout.html" %}

{% block ul %}
     <li role="presentation">
         <a href="/">Home</a>
     </li>
     <li role="presentation">
         <a href="/showSignUp">Sign Up</a>
     </li>
     <li role="presentation">
        <a href="/showSignIn" class="active">Sign In</a>
    </li>
{% endblock %}

{% block div %}
    <h1>Test App</h1>
    <div class="space"></div>
    <form class="form-signin">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            
        <button id="btnSignUp" class="btn btn-lg btn-success btn-block" type="button">Sign In</button>
    </form>
{% endblock %}